@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@font-face {
  font-family: "Interstate Mono";
  src: url("../fonts/Interstate-Mono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Interstate Mono";
  src: url("../fonts/Interstate-Mono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Interstate Mono";
  src: url("../fonts/Interstate-Mono-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
