@import url("reset.css");

@import url("font.css");

/* 
  color
  text-align
    - ***center*** - вирівнює по центру;
    - ***left*** - вирівнює по лівому краю **ВСТАНОВЛЕНО ЗА ЗАМОВЧУВАННЯМ** тобто не потрібно писати, тому що текст за замовчуванням вирівняно по лівій стороні;
    - ***right*** - вирівнює по правому краю;
    - ***justify*** - вирівнює текст по ширині об'єкта в якому він знаходиться, *автоматично змінюючи пробіли між словами.*

  text-decoration 
    - ***line-through*** - закреслює текст;
    - ***overline*** - лінія над текстом;
    - ***none*** - (за замовченням) скасовує встановлений раніше параметр.
    - ***underline*** - лінія під текстом;

    **text-decoration-color** - змінює колір декору
    **text-decoration-style** - змінює стиль декору
    **text-decoration-line** - встановлює тип декору

    - **text-decoration-thickness** - встановлює товщину лінії [**інформація про властивість**](https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-thickness)
    - **text-underline-offset** - встановлює відстань від тексту до лінії [**інформація про властивість**](https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset)


*/

body {
  font-family: "Interstate Mono", sans-serif;
}

.title {
  text-align: center;
  color: blue;
  font-size: 24px;
}
.main {
}
.section-01 {
  text-align: right;
}
.image {
}
.text1-01 {
  text-decoration: line-through;
  font-size: 18px;
}
.text1-02 {
  text-decoration: overline;
  font-size: 20px;
}
.text1-03 {
  text-decoration: underline;
  font-size: 22px;
}
.section-02 {
}
.sub-title-02 {
  font-size: 30px;
  text-align: center;
}
.text2-01 {
  color: yellow;
  text-decoration: line-through;
  text-decoration-color: pink;
  text-decoration-style: dotted;
  font-size: 18px;
}
.text2-02 {
  text-transform: capitalize;
}
.text2-03 {
  text-transform: lowercase;
}
.text2-04 {
  text-transform: uppercase;
}
.text2-05 {
  line-height: 1.8;
  font-size: 20px;
  color: brown;
  letter-spacing: 1.5px;
  white-space: nowrap;
}
.text2-06 {
  word-spacing: 10px;
}
.text2-07 {
}
.footer {
}
.link-on-top {
}
