@import url("reset.css");

@import url("font.css");

body {
  font-family: "Interstate Mono", sans-serif;
}

.title {
  text-align: center;
  color: blue;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 2px 3px 1px yellowgreen;
}
.main {
}
.section-01 {
  text-align: right;
}
.image {
}
.text1-01 {
  text-decoration: line-through;
  font-size: 18px;
}
.text1-02 {
  text-decoration: overline;
  font-size: 20px;
}
.text1-03 {
  text-decoration: underline;
  font-size: 22px;
}
.section-02 {
}
.sub-title-02 {
  font-size: 30px;
  text-align: center;
}
.text2-01 {
  color: yellow;
  text-decoration: line-through;
  text-decoration-color: pink;
  text-decoration-style: dotted;
  font-size: 18px;
  text-shadow: 1px 5px 7px rgb(152, 41, 41);
}
.text2-02 {
  text-transform: capitalize;
}
.text2-03 {
  text-transform: lowercase;
}
.text2-04 {
  text-transform: uppercase;
}
.text2-05 {
  line-height: 1.8;
  font-size: 20px;
  color: brown;
  letter-spacing: 1.5px;
  white-space: nowrap;
}
.text2-06 {
  word-spacing: 10px;
}

.link-on-top {
  text-decoration: underline;
  color: blue;
  font-size: 20px;
}
.text2-07 {
  text-shadow: 2px 2px 5px black;
}
